.header {
    width: 100vw;
    height: 60px;
    color: black;
    background-color: white;

    display: flex;
    justify-content: space-between;

    img {
        height: 60px;
    }

    .linksBig {
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 1;
        margin-right: 16px;

        a {
            text-decoration: none;
            color: black;
            margin: 8px;
        }
    }

    .linksSmall {
        display: none;
    }
}

@media (max-width: 800px) {
    .header {
        height: 200px;
        
        .linksBig {
            display: none;
        }
        
        .linksSmall {
            display: inherit;
        
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            line-height: 1;
            margin-right: 16px;
        
            a {
                text-decoration: none;
                color: black;
                margin: 8px;
            }
        }
    }
}
.header {
    height: 1000px;
}
